fairscale==0.4.13
sentencepiece==0.1.99
Pillow==9.5.0
opencv-python==4.8.0.74
gradio==3.45.0
tqdm
autofaiss==2.15.8
tensorboard==2.12.3
diffusers==0.17.0
plotly==5.15.0
easydict==1.10
https://github.com/unlimblue/KNN_CUDA/releases/download/0.2/KNN_CUDA-0.2-py3-none-any.whl
huggingface_hub==0.15.1
transformers==4.30.2
torch==2.0.1 
torchaudio==2.0.2 
pytorchvideo 
torchvision
ftfy
timm
einops
openpyxl
tqdm