
# original
data/EMO/clips_45seconds
# preprocessed
data/EMO/emomusic/wav

data/GS-key/audio
data/GS-key/giantsteps_clips
data/GS-key/giantsteps-key-dataset-c8cb8aad2cb53f165be51ea099d0dc75c64a844f
data/GS-key/giantsteps-mtg-key-dataset-fd7b8c584f7bd6d720d170c325a6d42c9bf75a6b
data/MTT/mp3
data/GTZAN-Rhythm/GTZAN-Rhythm_v2_ismir2015_lbd/jams
data/GTZAN-Rhythm/GTZAN-Rhythm_v2_ismir2015_lbd/xml
data/GTZAN/Data/genres_original
data/GTZAN/Data/images_original

data/MTG/audio-low

data/VocalSet/FULL
data/VocalSet/__MACOSX

data/NSynth/nsynth-train/audio
data/NSynth/nsynth-valid/audio
data/NSynth/nsynth-test/audio
data/NSynth/*.tar.gz

data/MusicCaps/audio
data/MusicCaps/annotation
data/Song Interpretation/whole_audio
data/SDD/audio
data/GS-tempo/giantsteps-tempo-dataset

data/Hainsworth/Hainsworth
data/SMC/__MACOSX
data/SMC/SMC_MIREX
data/ballroom/BallroomAnnotations
data/ballroom/BallroomData
data/ballroom/tempo
data/carnetic/CMR_full_dataset_1.0

data/MedleyDB/MedleyDB-Melody
data/chord/references_v2
data/chord/chordlab
data/chord/audio

data/CBF/audio
data/Guzheng/Guzheng_Tech99

data/DSing/sing_300x30x2
